<div class="message_back">
    <h2>Send Us a Message:</h2>
    <div class="contact_form_back">
        <div class="row">
            <div class="col-md-6">
                <div class="portion"><input type="text" class="input" placeholder="Name"></div>
            </div>
            <div class="col-md-6">
                <div class="portion"><input type="email" class="input" placeholder="Email"></div>
            </div>
            <div class="col-md-6">
                <div class="portion"><input type="text" class="input" placeholder="Subject"></div>
            </div>
            <div class="col-md-6">
                <div class="portion"><input type="tel" class="input" placeholder="Phone No"></div>
            </div>
            <div class="col-md-12">
                <div class="portion"><textarea name="" id="" class="input textarea" placeholder="Your Message"></textarea></div>
            </div>
            <div class="col-md-12">
                <div class="portion">
                    <input type="submit" class="submit" value="submit now">
                </div>
            </div>
        </div>
    </div>
</div>