.about_us{
    .left_content{
        margin-bottom: 2rem;
        h2{
            font-size: 4rem;
        }
    }
    .image_back{
        padding: 0;
    }
}
.home_about_us_back {
    width: 100%;
    float: left;
    padding: 6rem 0;
}