.customclass{
    width: 100%;
    float: left;
    padding: 7rem 0 6rem;
    text-align: center;
}
.customclass img {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-bottom: 7rem;
    height: 6.7rem !important;
    width: auto !important;
}