.main_footer {
    width: 100%;
    float: left;
    margin: 0;
    padding: 7.4rem 0;
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .details {
        width: 100%;
        float: left;
    }
    .first {
        text-align: center;
        margin-bottom: 3rem;
    }
}

@media (min-width: 992px){}
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
@media (min-width: 992px){}
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
@media (min-width: 992px){}
.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}