<div class="count_down_section">
    <div class="container">
        <h2>Countdown of Free Trial</h2>
        <div class="timer d-flex align-items-center justify-content-center">
            <div class="count d-flex align-items-center justify-content-center flex-column">02<span>Months</span></div>
            <div class="count d-flex align-items-center justify-content-center flex-column">16<span>Days</span></div>
            <div class="count d-flex align-items-center justify-content-center flex-column">28<span>Minutes</span></div>
        </div>
    </div>
    
</div>