<div class="left_details">
    <h2>About Us</h2>
    <p>Dillistock gives you room to take your images for a spin before you purchase them. Download the photo you are considering and place it into your ideal scenario. Try it out for size before makign yoru decision.</p>
    <h2>Activate your FREE today!!</h2>
    <p>So many industries require imagery but if you are a Social Media Manager, A Graphic Designer or Marketing Manager, we probably see you more often than most. Sign up as a company or as an individual. Select a plan that suits your buget and the need of your project. Make a grand impression. Step out with the right Dillistock image. Sign Up for your account today and immediately access 5 free images.!</p>
</div>