.join_us_back {
    width: 100%;
    float: left;
    color: #fff;
    background-color: #000;
    padding: 1.2rem 0;
    text-align: center;
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    p {
        font-size: 2.3rem;
        margin: 0;
        padding: 0;
    }
    .custom_button {
        display: inline-block;
        a {
            width: 21.1rem;
            height: 6.6rem;
            background-color: #291402;
            display: block;
            font-size: 1.5rem;
            color: #fff;
            text-decoration: none;
            outline-style: none;
            line-height: 6.6rem;
            border-radius: 0.5rem;
            text-transform: uppercase;
            text-align: center;
            -webkit-transition: all .5s ease-in;
            transition: all .5s ease-in;
            font-weight: 700;
        }
    }
}
.join_us_back .custom_button {
    float: right;
    a {
        background-color: #fff;
        color: #000;
    }
}