<div class="home_about_us_back about_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="image_back">
                    <img src="../../../assets/image/about_page.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="left_content">
                    <h2>About Us</h2>
                    <p class="demo">{{demo1}}</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="left_content">
                    <p class="demo">
                       {{demo2}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>