.portion{
    width: 25%; text-align: center; float: left;
    img{
        width: 21.8rem !important; height: 21.8rem !important; border-radius: 100%; display: inline-block; margin-bottom: 3rem; transform: rotate(0);
    }
    h4{
        font-weight: 700; color: #000; font-size: 2.4rem; text-transform: capitalize; margin-bottom: 10px;
    }
    p{
        font-size: 2rem; color: #000;
    }
}