<div class="default_body">
    <div class="container">
        <div class="image_search_back">
            <div class="row">
                <div class="col-md-3">
                    <div class="left_filter_panel">
                        <div class="section">
                            <h2>Search</h2>
                            <div class="search_box">
                                <input type="search" name="" placeholder="Search for products..." id="">
                                <input type="submit" value="">
                            </div>
                        </div>
                        <div class="section">
                            <h2>Colour</h2>
                            <div class="color_pallet">
                                <div class="color">x</div>
                                <div class="color black_white"></div>
                                <div class="color" style="background-color:#e72525"></div>
                                <div class="color" style="background-color:#f48700"></div>
                                <div class="color" style="background-color:#eca71d"></div>
                                <div class="color" style="background-color:#f1f129"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#e72525"></div>
                                <div class="color" style="background-color:#f48700"></div>
                                <div class="color" style="background-color:#eca71d"></div>
                                <div class="color" style="background-color:#f1f129"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color">x</div>
                                <div class="color black_white"></div>
                                <div class="color" style="background-color:#e72525"></div>
                                <div class="color" style="background-color:#f48700"></div>
                                <div class="color" style="background-color:#eca71d"></div>
                                <div class="color" style="background-color:#f1f129"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#e72525"></div>
                                <div class="color" style="background-color:#f48700"></div>
                                <div class="color" style="background-color:#eca71d"></div>
                                <div class="color" style="background-color:#f1f129"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color">x</div>
                                <div class="color black_white"></div>
                                <div class="color" style="background-color:#e72525"></div>
                                <div class="color" style="background-color:#f48700"></div>
                                <div class="color" style="background-color:#eca71d"></div>
                                <div class="color" style="background-color:#f1f129"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#e72525"></div>
                                <div class="color" style="background-color:#f48700"></div>
                                <div class="color" style="background-color:#eca71d"></div>
                                <div class="color" style="background-color:#f1f129"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color">x</div>
                                <div class="color black_white"></div>
                                <div class="color" style="background-color:#e72525"></div>
                                <div class="color" style="background-color:#f48700"></div>
                                <div class="color" style="background-color:#eca71d"></div>
                                <div class="color" style="background-color:#f1f129"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#e72525"></div>
                                <div class="color" style="background-color:#f48700"></div>
                                <div class="color" style="background-color:#eca71d"></div>
                                <div class="color" style="background-color:#f1f129"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                                <div class="color" style="background-color:#a9e418"></div>
                                <div class="color" style="background-color:#06d506"></div>
                            </div>
                        </div>
                        <div class="section">
                            <h2>Image Size</h2>
                            <div class="dragger">
                                <img src="../../../assets/image/dragger.png" alt="">
                            </div>
                            <p>Size: Small, Medium, Large</p>
                            <div class="custom_button d-flex justify-content-center"><a href="">SUBMIT</a></div>
                        </div>
                        <div class="section">
                            <h2>Race</h2>
                            <div class="tag_back">
                                <div class="tag" *ngFor=" let i of tags">{{i.tagname}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="image_gallery">
                        <div class="portion" *ngFor="let i of img">
                            <a href="#"><img src="../../../assets/image/{{i.path}}" alt=""></a>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>