.default_body {
    width: 100%;
    float: left;
    padding: 7rem 0;
}
.left_filter_panel {
    width: 100%;
    .section {
        width: 100%;
        padding: 38px;
        border-top: #7f6657 2px solid;
        background-color: #f7f7f7;
        margin-bottom: 35px;
        h2 {
            font-size: 20px;
            text-transform: capitalize;
            color: #000;
            font-weight: 500;
            margin-bottom: 22px;
        }
        .search_box {
            width: 100%;
            height: auto;
            position: relative;
            padding: 0 calc(35px + 7px) 0 7px;
            border: #d3d3d3 1px solid;
            border-radius: 50px;
            input[type="search"] {
                width: 100%;
                height: 45px;
                background-color: transparent;
                border: none;
                outline-style: none;
                padding: 0 15px;
                font-size: 13px;
            }
            input[type="submit"] {
                background-image: url(../../../assets/image/f_search.png);
                width: 50px;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                border: none;
                background-color: transparent;
                outline-style: none;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        p {
            text-align: center;
            font-size: 16px;
            color: #000;
            margin: 20px 0;
        }
        .custom_button {
            width: 100%;
            a {
                width: 15rem;
                height: 5.2rem;
                line-height: 5.2rem;
            }
        }
    }
}
.color_pallet {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[10];
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
    .color {
        width: 20px;
        height: 20px;
        background-color: #cacdd2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 3px;
        cursor: pointer;
        overflow: hidden;
    }
    .color.black_white {
        position: relative;
    }
}
.dragger {
    width: 100%;
    img {
        width: 100%;
    }
}
.tag_back {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns : repeat(3, 1fr);
    grid-gap : 5px;
    .tag {
        background-color: #fff;
        border: rgba(0, 0, 0, 0.4) 1px solid;
        border-radius: 3px;
        padding: 1rem 2rem;
        font-size: 14px;
    }
}
.image_gallery {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    .portion img {
        width: 100%;
        height: 253px;
        -o-object-fit: cover;
        object-fit: cover;
    }
}
@media only screen and (max-width: 1399px){
.image_search_back .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
}
@media (min-width: 768px){
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media only screen and (max-width: 1399px){
    .image_search_back .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
    }
}
@media (min-width: 768px){
    .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    }
}