<div class="right_details">
    <div class="form_back">
        <h3>Sign up</h3>
        <div class="form">
            <div class="portion"><input type="text" class="input" placeholder="Enter Your Name"></div>
            <div class="portion"><input type="email" class="input" placeholder="Enter Your Email"></div>
            <input type="submit" value="JOIN US" class="submit">
        </div>
        <img src="../../../assets/image/logo.png" alt="">
        <p>By creating an account, I hereby agree to Dillistock Terms and Conditions, Privacy Policy and Licensing Terms.</p> 
        <div class="login">Already have an account? <a href="">Log In</a></div>
    </div>
</div>