<div class="container">
    <div class="subscription_back">
        <div class="row">
            <div class="col-lg-6">
                <div class="portion">
                    <div class="head d-flex align-items-center justify-content-center">Subscription</div>
                    <div class="body d-flex align-items-center flex-column">
                         <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h4>
                         <div class="tag">5 image</div>
                         <div class="price d-flex">
                             <span class="dollar align-self-start">US$</span>
                             <span class="main_price align-self-center">0</span>
                             <div class="price_month align-self-end">/month</div>
                         </div>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                         <div class="custom_button"><a href="">FREE TRIAL</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
             <div class="portion">
                 <div class="head d-flex align-items-center justify-content-center">Subscription</div>
                 <div class="body d-flex align-items-center flex-column">
                      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h4>
                      <div class="tag">5 image</div>
                      <div class="price d-flex">
                          <span class="dollar align-self-start">US$</span>
                          <span class="main_price align-self-center">0</span>
                          <div class="price_month align-self-end">/month</div>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                      <div class="custom_button"><a href="">FREE TRIAL</a></div>
                 </div>
             </div>
         </div>
        </div>
    </div>
 </div>