
.subscription_back {
    width: 100%;
    .portion {
        width: 100%;
        margin-bottom: 7rem;
        .head {
            width: 100%;
            height: 6.1rem;
            background-color: #291402;
            color: #fff;
            font-size: 2.3rem;
            font-weight: 600;
            text-transform: capitalize;
        }
        .body {
            width: 100%;
            background-color: #f2f2f2;
            padding: 3rem 3rem 5rem 3rem;
            h4 {
                color: #291402;
                font-size: 16px;
                margin: 0;
                text-align: center;
            }
            .tag {
                background-color: #cacdd2;
                border-radius: 4rem;
                padding: 1rem 2rem;
                font-size: 12px;
                color: #291402;
                font-weight: 500;
                margin: 2rem 0 3rem;
            }
            .price {
                height: 5rem;
                color: #291402;
                margin-bottom: 3rem;
                .dollar {
                    font-size: 2.3rem;
                    font-weight: 500;
                    margin-right: 2.4rem;
                }
                .main_price {
                    font-size: 7.7rem;
                    margin-right: 11px;
                }
                .price_month {
                    font-size: 13px;
                }
            }
            p {
                color: #291402;
                font-size: 14px;
                text-align: center;
            }
            .custom_button {
                margin-top: 3rem;
                a {
                    width: 15.1rem;
                    height: 5.2rem;
                    line-height: 5.2rem;
                }
            }
        }
    }
}



// @media only screen and (max-width: 1450px){
//     .container {
//         max-width: 1200px;
//     }
// }

// @media (min-width: 1200px){
//     .container, .container-lg, .container-md, .container-sm, .container-xl {
//         max-width: 1140px;
//     }
// }

// @media (min-width: 992px)
// {
//     .container, .container-lg, .container-md, .container-sm {
//         max-width: 960px;
//     }
// }
// @media (min-width: 768px)
// {
//     .container, .container-md, .container-sm {
//         max-width: 720px;
//     }
// }
// @media (min-width: 576px)
// {
//     .container, .container-sm {
//         max-width: 540px;
//     }
// }