<div class="contact_details">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="portion">
                <div class="image_back">
                    <img src="../../../../assets/image/con1.png" alt="">
                </div>
                <h2>Visit Us Daily:</h2>
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="portion">
                <div class="image_back">
                    <img src="../../../../assets/image/con2.png" alt="">
                </div>
                <h2>Phone Us :</h2>
                <p>123-456-78910</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="portion">
                <div class="image_back">
                    <img src="../../../../assets/image/con3.png" alt="">
                </div>
                <h2>Mail Us  :</h2>
                <p>infoi@example.com</p>
            </div>
        </div>
    </div>
</div>